@using MobileStore.Presentation.Blazor.Components.Standard.Grid
@using MobileStore.Presentation.Blazor.Components.Standard.Menu
@using MobileStore.Presentation.Blazor.Components.Standard.Text

@implements IBrowserViewportObserver
@implements IAsyncDisposable

@inject IBrowserViewportService BrowserViewportService

<div class="xst-nav-menu">

    <!--Mobile menu-->
    <div class="xst-mobile-menu-container">
        <MudIconButton Variant="Variant.Text"
                       OnClick="@(OpenDrawer)"
                       Class="xst-open-menu-btn"
                       Icon="@Icons.Material.Filled.Menu" />
    </div>

    <MudDrawer @bind-Open="@_isOpen" Anchor="Anchor.Top" Elevation="1" Variant="@DrawerVariant.Temporary">
        <XStNavMenu>
            <!--Home-->
            <XStNavLink Href="/"
                        Match="NavLinkMatch.All"
                        Icon="@Icons.Material.Filled.Home">
                Mobile store
            </XStNavLink>
            <!--Cart-->
            <XStNavLink Href="/Cart"
                        Match="NavLinkMatch.All"
                        Icon="@Icons.Material.Filled.ShoppingCart">
                Cart
            </XStNavLink>

            <AuthorizeView>
                <Authorized>
                    <!--Account-->
                    <XStNavLink Icon="@Icons.Material.Filled.AccountBox"
                                Match="NavLinkMatch.All">
                        Account
                    </XStNavLink>

                    <!--Logout-->
                    <XStNavLink Href="/Account/Logout"
                                Match="NavLinkMatch.All"
                                Icon="@Icons.Material.Filled.Logout">
                        Logout
                    </XStNavLink>
                </Authorized>
                <NotAuthorized>
                    <!--Login-->
                    <XStNavLink Href="/Account/Login"
                                Match="NavLinkMatch.All"
                                Icon="@Icons.Material.Filled.Login">
                        Login
                    </XStNavLink>
                </NotAuthorized>
            </AuthorizeView>
        </XStNavMenu>
    </MudDrawer>


    <!--Desktop menu-->
    <div class="xst-desktop-menu-container">
        <div>
            <XStNavMenu>
                <!--Home-->
                <XStNavLink Href="/"
                            Match="NavLinkMatch.All"
                            Icon="@Icons.Material.Filled.Home">
                    Mobile store
                </XStNavLink>

                <!--Cart-->
                <XStNavLink Href="/Cart"
                            Match="NavLinkMatch.All"
                            Icon="@Icons.Material.Filled.ShoppingCart">
                    Cart
                </XStNavLink>
            </XStNavMenu>
        </div>

        <div>
            <XStNavMenu>
                <AuthorizeView>
                    <Authorized>
                        <!--Account-->
                        <MudMenu ActivationEvent="@MouseEvent.MouseOver" FullWidth="true" Dense="true" AnchorOrigin="Origin.BottomLeft">
                            <ActivatorContent>
                                <XStNavLink Icon="@Icons.Material.Filled.AccountBox"
                                            Match="NavLinkMatch.All">
                                    Account
                                </XStNavLink>
                            </ActivatorContent>
                            <ChildContent>
                                <MudMenuItem Href="/Account">Profile</MudMenuItem>
                                <MudMenuItem Href="/Orders">Orders</MudMenuItem>
                                <MudMenuItem Href="/Admin/Products">Admin panel</MudMenuItem>
                                <MudMenuItem Href="/Admin">Upload Files</MudMenuItem>
                                <MudMenuItem Disabled="true" Href="/Favorites">Favorites</MudMenuItem>
                            </ChildContent>
                        </MudMenu>

                        <!--Logout-->
                        <XStNavLink Href="/Account/Logout"
                                    Match="NavLinkMatch.All"
                                    Icon="@Icons.Material.Filled.Logout">
                            Logout
                        </XStNavLink>
                    </Authorized>

                    <NotAuthorized>
                        <!--Login-->
                        <XStNavLink Href="/Account/Login"
                                    Match="NavLinkMatch.All"
                                    Icon="@Icons.Material.Filled.Login">
                            Login
                        </XStNavLink>
                    </NotAuthorized>
                </AuthorizeView>
            </XStNavMenu>
        </div>
    </div>
</div>



@code
{
    private bool _isOpen;

    public Guid Id { get; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            await BrowserViewportService.SubscribeAsync(this, fireImmediately: true);
        }


    }

    void OpenDrawer()
    {
        _isOpen = true;
    }


    Task IBrowserViewportObserver.NotifyBrowserViewportChangeAsync(BrowserViewportEventArgs browserViewportEventArgs)
    {
        if (browserViewportEventArgs.Breakpoint != Breakpoint.Xs)
        {
            _isOpen = false;
        }

        return InvokeAsync(StateHasChanged);
    }

    public async ValueTask DisposeAsync()
    {
        await BrowserViewportService.UnsubscribeAsync(this);
    }
}