@using MobileStore.Presentation.Blazor.Components.Standard.Menu

@implements IBrowserViewportObserver
@implements IAsyncDisposable

@inject IBrowserViewportService BrowserViewportService

<div class="xst-nav-menu">
    
    <!--Mobile menu-->
    <div class="xst-mobile-menu-container">
        <MudIconButton Variant="Variant.Text" 
                       OnClick="@(OpenDrawer)"
                       Class="xst-open-menu-btn"
                       Icon="@Icons.Material.Filled.Menu" />
    </div>
    
    <MudDrawer @bind-Open="@_isOpen" Anchor="Anchor.Top" Elevation="1" Variant="@DrawerVariant.Temporary">
        <XStNavMenu>
            <!--Home-->
            <XStNavLink Href="/"
                        Icon="@Icons.Material.Filled.Home">
                Mobile store
            </XStNavLink>
            <!--Cart-->
            <XStNavLink Href="/Cart"
                        Icon="@Icons.Material.Filled.ShoppingCart">
                Cart
            </XStNavLink>

            <AuthorizeView>
                <Authorized>
                    <!--Account-->
                    <XStNavLink Href="/Account"
                                Icon="@Icons.Material.Filled.AccountBox">
                        Account
                    </XStNavLink>
                    <!--Logout-->
                    <XStNavLink Href="/Account/Logout"
                                Icon="@Icons.Material.Filled.Logout">
                        Logout
                    </XStNavLink>
                </Authorized>
                <NotAuthorized>
                    <!--Login-->
                    <XStNavLink Href="/Account/Login"
                                Icon="@Icons.Material.Filled.Login">
                        Login
                    </XStNavLink>
                </NotAuthorized>
            </AuthorizeView>
        </XStNavMenu>
    </MudDrawer>

    <!--Desktop menu-->
    <div class="xst-desktop-menu-container">
        <div>
            <XStNavMenu>
                <!--Home-->
                <XStNavLink Href="/"
                            Icon="@Icons.Material.Filled.Home">
                    Mobile store
                </XStNavLink>

                <!--Cart-->
                <XStNavLink Href="/Cart"
                            Icon="@Icons.Material.Filled.ShoppingCart">
                    Cart
                </XStNavLink>
            </XStNavMenu>
        </div>

        <div>
            <XStNavMenu>
                <AuthorizeView>
                    <Authorized>
                        <!--Account-->
                        <XStNavLink Href="/Account"
                                    Icon="@Icons.Material.Filled.AccountBox">
                            Account
                        </XStNavLink>
                        <!--Logout-->
                        <XStNavLink Href="/Account/Logout"
                                    Icon="@Icons.Material.Filled.Logout">
                            Logout
                        </XStNavLink>
                    </Authorized>
                    <NotAuthorized>
                        <!--Login-->
                        <XStNavLink Href="/Account/Login"
                                    Icon="@Icons.Material.Filled.Login">
                            Login
                        </XStNavLink>
                    </NotAuthorized>
                </AuthorizeView>
            </XStNavMenu>
        </div>
    </div>
</div>



@code
{
    private bool _isOpen;

    public Guid Id { get; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            await BrowserViewportService.SubscribeAsync(this, fireImmediately: true);
        }
        

    }

    void OpenDrawer()
    {
        _isOpen = true;
    }

    
    Task IBrowserViewportObserver.NotifyBrowserViewportChangeAsync(BrowserViewportEventArgs browserViewportEventArgs)
    {
        if (browserViewportEventArgs.Breakpoint != Breakpoint.Xs)
        {
            _isOpen = false;
        }

        return InvokeAsync(StateHasChanged);
    }

    public async ValueTask DisposeAsync()
    {
        await BrowserViewportService.UnsubscribeAsync(this);
    }
}