@model MobileStore.Presentation.ViewModels.CartViewModel

@{
    ViewData["Title"] = "Корзина";
}
<!DOCTYPE html>
<html>

<head>
    <title>Cart</title>
    <link rel="stylesheet" href="~/css/navigationBarStyles.css" />
    <link rel="stylesheet" href="~/css/cartStyles.css" />
    <div class="navigation">
        <nav>
            @* Тег <nav> определяет набор навигационных ссылок *@
            <div>
                <ul>
                    @foreach (var productType in Model.ProductTypes)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Home")?productTypeId=@productType.Id">@productType.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </div>
</head>

<body>
    <div class="cart-container">
        <div class="lelt-column">
            <table class="table-of-items">
                <thead class="view-cart-index-header-table">
                    <tr>
                        <td>Name</td>
                        <td></td>
                        <td>Quantity</td>
                        <td>Price</td>
                        <td method-delite></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cartItem in Model.CartItems)
                    {
                        <tr>
                            <td>@cartItem.Product.Name</td>

                            <td><img src="@cartItem.Product.Img" alt="@cartItem.Product.Name"></td>

                            <td class="cell-quantity">
                                <div class="form-of-quantity-in-cart">
                                    <div>
                                        <form asp-controller="Cart"
                                          asp-action="UpdateQuantity"
                                          asp-route-cartItemId="@cartItem.Id"
                                          asp-route-quantity="@(cartItem.Quantity - 1)">
                                            <button disabled="@(cartItem.Quantity <= 1)">-</button>
                                        </form>
                                    </div>
                                    <div type="number">
                                        @cartItem.Quantity
                                    </div>
                                    <div>
                                        <form asp-controller="Cart"
                                          asp-action="UpdateQuantity"
                                          asp-route-cartItemId="@cartItem.Id"
                                          asp-route-quantity="@(cartItem.Quantity + 1)">
                                            <button>+</button>
                                        </form>
                                    </div>
                                </div>
                            </td>

                            <td>@(cartItem.Quantity * cartItem.Product.Price) <span>$</span></td>

                            <td>
                                <form asp-controller="Cart"
                                  asp-action="Remove"
                                  asp-route-cartItemId="@(cartItem.Id)">
                                    <button class="cart-button-delete">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="right-column">
            <h2>Checkout</h2>
            <table class="order-table-in-cart">
                <tr>
                    <td>Amount of goods</td>
                    <td> @Model.CartItems.Sum(x => x.Product.Price * x.Quantity) <span>$</span></td>
                </tr>

                <tr>
                    <td>Discount amount</td>
                    <td>-</td>
                </tr>
            </table>

            <div class="order-button">
                <form asp-controller="Cart"
                      asp-action="CreatOrder">
                    <button>Continue</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>