@model MobileStore.Presentation.ViewModels.CartViewModel

@{
    ViewData["Title"] = "Корзина";
}
<!DOCTYPE html>
<html>

<head>
    <title>Cart</title>
    <link rel="stylesheet" href="~/css/cartStyles.css" />
    <style>
        .order-table-in-cart {
            width: 100px;
            height: 300px;
        }
    </style>
</head>

<body>
    <div class="cart-container">
        <div class="lelt-column">
            <table class="table-of-items">
                <thead class="view-cart-index-header-table">
                    <tr>
                        <th>Наименование</th>
                        <th></th>
                        <th>Количество</th>
                        <th>Цена</th>
                        <th method-delite></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cartItem in Model.CartItems)
                    {
                        <tr>
                            <td>@cartItem.Product.Name</td>

                            <td><img src="@cartItem.Product.Img" alt=""></td>

                            <td class="cell-quantity">
                                <div class="form-of-quantity-in-cart">
                                    <div>
                                        <form asp-controller="Cart"
                                          asp-action="UpdateQuantity"
                                          asp-route-cartItemId="@cartItem.Id"
                                          asp-route-quantity="@(cartItem.Quantity - 1)">
                                            <button disabled="@(cartItem.Quantity <= 1)">-</button>
                                        </form>
                                    </div>
                                    <div type="number">
                                        @cartItem.Quantity
                                    </div>
                                    <div>
                                        <form asp-controller="Cart"
                                          asp-action="UpdateQuantity"
                                          asp-route-cartItemId="@cartItem.Id"
                                          asp-route-quantity="@(cartItem.Quantity + 1)">
                                            <button>+</button>
                                        </form>
                                    </div>
                                </div>
                            </td>

                            <td>@(cartItem.Quantity * cartItem.Product.Price) <span>$</span></td>

                            <td>
                                <form asp-controller="Cart"
                                  asp-action="Remove"
                                  asp-route-cartItemId="@(cartItem.Id)">
                                    <button class="cart-button-delete">Удалить</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="right-column">
            <h2>Оформить заказ</h2>
            <table class="order-table-in-cart">
                <tr>
                    <td>Сумма товаров</td>
                    <td> @Model.CartItems.Sum(x => x.Product.Price * x.Quantity) <span>$</span></td>
                </tr>

                <tr>
                    <td>Сумма скидки</td>
                    <td>-</td>
                </tr>
            </table>

            <div class="order-button">
                <form asp-controller="Cart"
                      asp-action="CreatOrder">
                    <button>Оформить заказ</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>