@model MobileStore.Presentation.Mvc.ViewModels.IndexProductsViewModel

@{
    ViewData["Title"] = "Modify products";
}
<!DOCTYPE html>

<html>

<head>
    <title>Modify products</title>
    <link rel="stylesheet" href="~/css/navigationBarStyles.css"/>
</head>

<body>
    <div class="navigation">
        <nav>
            @* Тег <nav> определяет набор навигационных ссылок *@
            <div>
                <ul>
                    @foreach (var productType in Model.ProductTypes)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Products")?productTypeId=@productType.Id">@productType.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </div>

    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Type Id</td>
                <td>Company</td>
                <td>Image</td>
                <td>Price</td>
                <td>Id</td>
                <td></td>
                @*<td method-delite></td>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.ProductTypeId</td>
                    <td>@product.Company</td>
                    <td><img src="@product.Img" alt="@product.Name" /></td>
                    <td>@product.Price</td>
                    <td>@product.Id</td>
                    <td>
                        <a class="button text-dark"
                           asp-controller="Products"
                           asp-action="Edit"
                           asp-route-productId="@product.Id">Profile</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
